<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Colisbri</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/landing-page.css" rel="stylesheet">

</head>

<body>

    <%- include('navbar.ejs') %>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <img src="https://via.placeholder.com/150">
                    <!-- <h1 class="mb-5">Colisbri</h1> -->
                </div>
                <div class="col-md-12 col-lg-10 col-xl-9 mx-auto">
                    <h3 class="mb-5">LA LÉGENDE DU COLIBRI
                    </h3>
                </div>
            </div>
        </div>
    </header>

    <!-- Icons Grid -->
    <section class="text-center colibri-legend">
        <div class="row legend legend-top">
            <div class="overlay"></div>
            <div class="col-md-12 legend-text">
                <p class="lead">Un jour, dit la légende, il y eut un immense incendie de forêt.<br>
                    Tous les animaux terrifiés, atterrés, observaient impuissants le désastre.<br>
                    Seul le petit colibri s’activait, allant chercher quelques gouttes avec son bec pour les jeter sur le feu.<br>
                    Après un moment, le tatou, agacé par cette agitation dérisoire, lui dit :<br>
                    « Colibri ! Tu n’es pas fou ? Ce n’est pas avec ces gouttes d’eau que tu vas éteindre le feu ! »<br>
                    Et le colibri lui répondit :« Je le sais, mais je fais ma part. »<br>
                </p>
            </div>
        </div>
        <div class="row legend-end">
            <div class="overlay"></div>
            <div class="col-12 align-center">
                <h3>Alors vous aussi, faites votre part. Utilisez Colisbri !</h3>
            </div>
        </div>
        <div class="container">
            <div class="row" style="height: 6rem;"></div>
            <div class="row legend legend-two">
                <div class="col-md-12 legend-text">
                    <p class="lead">137 000 tonnes de déchets sont générées chaque année en France par l’envoi de colis postaux, et ce chiffre augmente constamment, notamment depuis la crise de la Covid où le e-commerce  a explosé.<br></p>
                    <p class="lead">La quantité de déchets générée par nos commandes en ligne est consternante, mais nous n’avons bien souvent d’autres choix que de jeter l’emballage du colis une fois notre commande arrivée à bon port.<br></p>
                    <p class="lead">En effet, les alternatives zéro-déchets ne pullulent pas sur le marché du colis : des modèles compostables existent, mais rares sont les gens qui possèdent un composteur ou qui se déplacent jusqu’aux composteurs collectifs pour un malheureux bout de carton !<br></p>
                    <p class="lead">Comment créer un packaging  qui ne laisse aucun déchet sur ses traces ? En le rendant fonctionnel et réutilisable pardi !<br> Ainsi naquit Colisbri : un matériau local, qui valorise les déchets plastiques de vos communes et un design hors-pair pour se fondre parfaitement dans n’importe quelle pièce de votre chez-vous.</p>
                </div>
            </div>
            <div class="row" style="height: 6rem;"></div>
        </div>
    </section>

    <%- include('newsletter.ejs') %>
    <%- include('footer.ejs') %>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Contact form JS-->
    <script src="/assets/mail/contact_me_and_footer_arrow.js"></script>

</body>

</html>