<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Colisbri</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="favicon.ico" />

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/landing-page.css" rel="stylesheet">

</head>

<body>

<%- include('navbar.ejs') %>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
                <img src="LOGO3.png">
              <!-- <h1 class="mb-5">Colisbri</h1> -->
            </div>
            <div class="col-md-12 col-lg-10 col-xl-9 mx-auto">
              <h3 class="mb-5 text-uppercase">E-commerçants, ne jetez pas vos valeurs à la poubelle !

                </h3>
            </div>
          </div>
        </div>
      </header>

      <!-- <section class="less-pad features-icons bg-light text-center"> -->
            <div class="container padding-first-text">
                <div class="row">
                    <div class="col-12">
                      <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 text-after-title">
                        <h2 class="text-center in-the-middle">
                                Le premier packaging qui se change en meuble
                          </h2>
                        <p id="first-text" class="lead mb-0 text-center">Cartons, plastique, papier bulle.... Chaque année, 137 000 tonnes de déchets sont générés par les colis d’expédition ! Pour que livraison ne rime plus avec pollution, nous avons créé Colisbri : votre nouveau packaging recyclé et transformable.</p>
                      </div>
                    </div>
                    </div>
                    </div>
                <!-- </section> -->
      <section class="features-icons bg-light text-center less-pad">
            <div class="container">
                    <div class="row no-gutters">
                        <div class="col-12">
                                <h2 class="text-center in-the-middle">
                                        Au commencement était le plastique recyclé
                                    </h2>
                        </div>
                            
                    </div>
                    <div class="row no-gutters">
                            <div class="col-lg-6 order-lg-1 text-white showcase-img" style="background-image: url('Colisbri.jpg');"></div>
                            <div id="second-text" class="col-lg-6 order-lg-2 my-auto showcase-text">
                              <!-- <h2>Commandez</h2> -->
                              <div class="top-icons">
                                    <i class="fas fa-recycle"></i><p class="lead mb-0">Un matériaux sain et soucieux de la planète</p></br>
                              </div>
                              <div class="top-icons">
                                    <i class="fas fa-map-marker-alt"></i><p class="lead mb-0">Produits localement avec les déchets de nos villes</p></br>
                              </div>
                              <div class="top-icons">
                                    <i class="fas fa-plus"></i></i><p class="lead mb-0">Etanche, solide et léger</p></br>
                              </div>
                              <div class="top-icons">
                                    <i class="fas fa-wine-bottle"></i><p class="lead mb-0">Résistant aux produits chimiques et facile dʼentretien</p></br>
                              </div>
                              <div class="top-icons">
                                    <i class="fas fa-eye-dropper"></i><p class="lead mb-0">Une gamme de couleurs et de combinaisons uniques</p></br>
                              </div>
                              <div class="top-icons">
                                    <i class="fas fa-balance-scale"></i><p class="lead mb-0">100 kilos de déchets valorisés tous les 10 mètres carrés déployés</p></br>
                              </div>
                            </div>
                            </div>
            </div>
          </section>

  <!-- Icons Grid -->
  <section class="showcase big-photo" style="background-image: url('Supercolis.jpg');">
<div class="row no-gutters">
    <div class="col-4"></div>
    <div class="col-4 text-center text-in-photo">
        <p>
                <span class="color-green">Colisbri</span>, c'est un packaging conçu pour
                transporter et protéger le vêtement tout au long
                du processus de livraison.
        </p>
    </div>
    <div class="col-4"></div>
</div>
  </section>


  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0 commercant">
      <div class="row no-gutters flex-things1">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('Soyez.png');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Soyez fiers de votre packaging, il trônera dans le salon</h2>
          <p class="lead mb-0">
                Un fois déballé, le packaging a été conçu pour se transformer
en meuble au gré de la créativité de vos clients !
                </p>
        </div>
      </div>
    <hr class="solid">
      <div class="row no-gutters flex-things2">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('C.png');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Assurez la continuité de votre engagement durable</h2>
          <p class="lead mb-0">
                Votre entreprise veut réduire au maximum son impact sur l’environnement ? Restez cohérent tout le long de
                votre chaîne de valeur en choisissant une alternative
                au colis à usage unique.
                </p>
        </div>
      </div>
    <hr class="solid">
      <div class="row no-gutters flex-things1">

            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('Creez.png');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
              <h2>Créez du lien avec vos clients</h2>
              <p class="lead mb-0">
                    Customisez des boîtes qui
                    leur plairont et qui vous ressemblent ! 
                    
                    
                    </p>
            </div>
          </div>
        <hr class="solid">
          <div class="row no-gutters flex-things2">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('Restez.png');"></div>
            <div class="col-lg-6 my-auto showcase-text">
              <h2>Restez comme vous êtes</h2>
              <p class="lead mb-0">
                    
Colisbri prend en charge la logistique, 
la qualité et la remise en état.
Ne changez rien à vos habitudes! 

                    </p>
            </div>
          </div>
    </div>
  </section>
<!-- <hr class="solid"> -->
  <section class="prices bg-light boring">
      <h2 class="more-pad">Nos prix</h2>
      <img src="TableauFinal.png" alt="tableau prices">
  </section>

  <%- include('newsletter.ejs') %>
  <%- include('footer.ejs') %>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/mail/contact_me_and_footer_arrow.js"></script>

</body>

</html>