<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Colisbri</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/landing-page.css" rel="stylesheet">

</head>

<body>
    <%- include('navbar.ejs') %>
    
    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <img src="img/LOGO3.png">
                    <!-- <h1 class="mb-5">KEEPBOXING</h1> -->
                </div>
                <div class="col-md-12 col-lg-10 col-xl-9 mx-auto">
                    <h3 class="mb-5">L' ÉQUIPE
                    </h3>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row intro-equipe">
            <!-- <h2 class="products-title mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2> -->
            <p class="lead text-center mt-4">Colisbri, c'est une équipe de cinq étudiants, provenant de divers horizons, rassemblée par la volonté de réduire l'impact environnemental lié à notre mode de consommation.</p>
        </div>
    </div>

    <!-- Icons Grid -->
    <section class="text-center">
        <div class="container">
            <div class="row equipe-first">
                <div class="col-md-4 col-sm-12 h-100">
                    <div class="personal">
                        <img src="img/aa.png">
                        <div class="overlay">
                            <div class="text">Evoluant professionnellement au coeur de l’environnement entrepreneurial, Anne a su apporter tout son précieux savoir-faire et savoir-être au service de Colisbri.</div>
                        </div>
                    </div>
                    <h3 class="name-equipe">Anne Andrieu</h3>
                    <p class="lead">Étudiante de l'ESCP Business School</p><br>
                </div>
                <div class="col-md-4 col-sm-12 h-100">
                    <div class="personal">
                        <img src="img/ada.jpg">
                        <div class="overlay">
                            <div class="text">Arthur pense, parle, conceptualise et se pique même parfois d’humour ! Même si son perfectionnisme est appréciable, l’équipe vire à la sainteté quand elle le suit jusqu’au moindre détail.</div>
                        </div>
                    </div>
                    <h3 class="name-equipe">Arthur David</h3>
                    <p class="lead">Étudiant de l'ESCP Business School</p><br>
                </div>
                <div class="col-md-4 col-sm-12 h-100">
                    <div class="personal">
                        <img src="img/me.png">
                        <div class="overlay">
                            <div class="text">Alessandra manie par ses études à la fois l’art du coding et la connaissance de la science psychologique - pour avoir réussi à manier les deux, on lui donne tout le respect qui lui est dû !</div>
                        </div>
                    </div>
                    <h3 class="name-equipe">Alessandra Di Nisio</h3>
                    <p class="lead">Étudiante de Programmation à l'École 42<br>Étudiante de Psychologie à l'Université de Bologne, Italie</p>
                </div>
            </div>
            <div class="row equipe-second">
                <div class="col-md-2"></div>
                <div class="col-md-4 col-sm-12 h-100">
                    <div class="personal">
                        <img src="img/mr.jpg">
                        <div class="overlay">
                            <div class="text">Militante engagée, Marie a présidé une association étudiante environnementale. Pleine d’énergie, elle est l’âme revendicatrice du groupe !</div>
                        </div>
                    </div>
                    <h3 class="name-equipe">Marie Robin</h3>
                    <p class="lead">Étudiante de l'ESCP Business School</p><br>
                </div>
                <div class="col-md-4 col-sm-12 h-100">
                    <div class="personal">
                        <img src="img/rt.jpg">
                        <div class="overlay">
                            <div class="text">Le concept de design est plus qu’un but pour Robin, c’est un idéal ! Colisbri lui doit l’inventivité de ses plus beaux modèles.</div>
                        </div>
                    </div>
                    <h3 class="name-equipe">Robin Thomas</h3>
                    <p class="lead">Étudiant de Strate, école de design<br></p>
                </div>
            </div>
        </div>
    </section>
    <div class="equipe-under"></div>
    <%- include('newsletter.ejs') %>
    <%- include('footer.ejs') %>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Contact form JS-->
    <script src="/assets/mail/contact_me_and_footer_arrow.js"></script>

</body>

</html>