<!DOCTYPE html>
<html>
    <!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 h-100 text-center text-lg-left my-auto">
                <p class="text-muted small mb-4 mb-lg-0">&copy; Colisbri 2020</p>
            </div>
            <div class="col-lg-9 h-100 text-center text-lg-right my-auto all-links">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="/">
                            <p>Accueil</p>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="/produits">
                            <p>Nos colisbris</p>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="/processus">
                            <p>Processus</p>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/legende">
                            <p>La légende du colibri</p>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/equipe">
                            <p>L'équipe</p>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="/commercant">
                            <p>Commerçants</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</html>