<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Colisbri</title>

    <!-- Bootstrap core CSS and JS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/landing-page.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light static-top">
        <div class="container">
            <div class="row navbar-custom">
                <div class="col-3">
                    <a class="navbar-brand logo-thing" href="/">
                        <img src="img/newlogo.png">
                    </a>
                </div>
                <div class="col-9">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-list-pages collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Le colis
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/produits">Nos colisbris</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/processus">Processus</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            L'idée
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/legende">La légende du colibri</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/equipe">L'équipe</a>
                            </div>
                        </li>
                        <li class="nav-item commerce-link">
                            <a class="nav-link" href="/commercant">Je suis commerçant</a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <img src="img/LOGO3.png">
                    <!-- <h1 class="mb-5">Colisbri</h1> -->
                </div>
                <div class="col-md-12 col-lg-10 col-xl-9 mx-auto">
                    <h3 class="mb-5">UN PACKAGING, DEUX VIES
                    </h3>
                </div>
            </div>
        </div>
    </header>

    <!-- Icons Grid -->
    <section class="less-pad features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 text-after-title">
                        <h2 class="text-center in-the-middle">
                            Colisbri - le premier packaging durable sans déchet
                        </h2>
                        <p id="first-text" class="lead mb-0">fait à partir de <span class="color-green">plastique recyclé</span>, <span class="color-green">réutilisable en meuble</span> et qui ne va <span class="color-green">jamais à la poubelle</span><br>
                            Achetez désormais en ligne sans culpabiliser et profitez d’un meuble au design unique !</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="showcase last-one big-photo" style="background-image: url('img/cat.jpeg');">
        <div class="container-fluid p-0">
            <!-- <div class="overlay"></div> -->
            <div class="row no-gutters">
                <!-- <div class="col-lg-6 text-white showcase-img" style="background-image: url('First image.jpg');"></div> -->
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Fun, utile et écolo</h2>
                    <p class="lead mb-0">
                        Il protège vos vêtements pendant la livraison, puis se transforme en meuble, selon vos envies et
                        vos idées !
                        Et si vous n’en avez plus l’utilité, vous pouvez le renvoyer – et récupérer une consigne – pour
                        qu’il soit réutilisé.

                        Fini les déchets !
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="row no-gutters">
        <div class="col-12">
            <h2 class="text-center in-the-middle question-title">
                COMMENT ÇA MARCHE?
            </h2>
        </div>
    </div>

    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img img-index"
                    style="background-image: url('img/Commandez.png');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Commandez</h2>
                    <p class="lead mb-0">Sur un site partenaire et choisissez l’option Colisbri</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img img-index"
                    style="background-image: url('img/Recevez.png');"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Recevez</h2>
                    <p class="lead mb-0">votre commande et votre commande uniquement... pas de déchets dans votre boîte
                        aux lettres !</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img tall-images"
                    style="background-image: url('img/Réutilisez.png');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Réutilisez</h2>
                    <p class="lead mb-0">votre packaging Colisbri : étagères, table basse, table de chevet... soyez
                        créatif ! </p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img tall-images"
                    style="background-image: url('img/Renvoyez.png');"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>
                        Et si vous n’en voulez plus, aucun soucis !
                    </h2>
                    <p class="lead mb-0">Renvoyez le par la poste gratuitement pour qu’il soit réutilisé </p>
                </div>
            </div>
        </div>
    </section>
    <div style="height: 100px;">

    </div>

    <!-- Call to Action -->

    <section id="contact" class="call-to-action text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">VOUS ÊTES INTERESSÉ ?
                    </h2>
                    <!-- <h5>Laissez-le nous savoir dans ces rapides questionnaires !</h5> -->
                    <h5 class="mb-5">Inscrivez-vous à notre newsletter !</h5>
                </div>
                <div class="col-12 mx-auto">
                    <form id="contactForm">
                        <div class="row align-items-stretch">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="name" name="name" type="text" oninput="hideElem();"
                                        placeholder="Prénom *"
                                        data-validation-required-message="Please enter your name." />
                                    <p id="name-error" class="help-block text-danger">Veuillez entrer votre prénom</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="surname" name="surname" type="text" oninput="hideElem();"
                                        placeholder="Nom *"
                                        data-validation-required-message="Please enter your name." />
                                    <p id="surname-error" class="help-block text-danger">Veuillez entrer votre nom</p>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-stretch">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="email" name="email" type="text" oninput="hideElem();"
                                        placeholder="Email *"
                                        data-validation-required-message="Please enter your email address." />
                                    <p id="email-error" class="help-block text-danger">Veuillez entrer votre email</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="company" name="company" type="text"
                                        placeholder="Nom entreprise " />
                                </div>
                            </div>
                        </div>
                        <div class="text-center send-button">
                            <!-- <div id="success"></div> -->
                            <button class="btn btn-light text-uppercase" id="sendMessageButton"
                                type="submit">Envoyer</button>
                        </div>
                    </form>
                    <h4 id="success-message"></h4>
                    <h4 id="error-message" class="text-danger"></h4>
                    <div id="result"></div>
                </div>
            </div>
            <div class="row socialmedia-title">
                <div class="col-xl-9 mx-auto">
                    <h2>SUIVEZ-NOUS</h2>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-xl-12 text-center my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item socialmedia mr-3">
                            <a href="#">
                                <i class="fab fa-facebook fa-4x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item socialmedia">
                            <a href="#">
                                <i class="fab fa-instagram fa-4x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 h-100 text-center text-lg-left my-auto">
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Colisbri 2020</p>
                </div>
                <div class="col-lg-9 h-100 text-center text-lg-right my-auto all-links">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="/">
                                <p>Home</p>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="/produits">
                                <p>Nos colisbris</p>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="/processus">
                                <p>Processus</p>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/legende">
                                <p>La legende du colibri</p>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/equipe">
                                <p>L'équipe</p>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="/commercant">
                                <p>Commerçants</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!-- Contact form JS-->
    <!-- <script src="/assets/mail/jqBootstrapValidation.js"></script> -->
    <script src="/assets/mail/contact_me_and_footer_arrow.js"></script>

</body>

</html>