<!DOCTYPE html>
<html>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light static-top">
        <div class="container">
            <div class="row navbar-custom">
                <div class="col-3">
                    <a class="navbar-brand logo-thing" href="/">
                        <img src="img/newlogo.png">
                    </a>
                </div>
                <div class="col-9">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-list-pages collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Le colis
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/produits">Nos colisbris</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/processus">Processus</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            L'idée
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/legende">La légende du colibri</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/equipe">L'équipe</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link commerce-link" href="/commercant">Je suis commerçant</a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</html>