<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>KeepBoxing</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="favicon.ico" />

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/landing-page.css" rel="stylesheet">

</head>

<body>

  <%- include('navbar.ejs') %>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
            <img src="img/LOGO3.png">
          <!-- <h1 class="mb-5">KEEPBOXING</h1> -->
        </div>
        <div class="col-md-12 col-lg-10 col-xl-9 mx-auto">
          <h3 class="mb-5">LE PROCESSUS
            </h3>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->


  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters more-pad">
        <div class="col-lg-8 order-lg-2 text-white showcase-img" style="background-image: url('img/1.png');"></div>
        <div class="col-lg-4 order-lg-1 my-auto showcase-text text-processus">
          <h2>1 - Lavage Séchage</h2>
          <p class="lead mb-0">Nous récupérons les déchets plastiques des communes frontalières à notre entreprise pour réduire au mieux notre impact sur l'environnement</p>
        </div>
      </div>
      <hr class="solid">
      <div class="row no-gutters more-pad tall-image">
        <div class="col-lg-8 text-white showcase-img" style="background-image: url('img/2.png');"></div>
        <div class="col-lg-4 my-auto showcase-text">
          <h2>2 - Broyage</h2>
          <p class="lead mb-0">Les déchets plastiques sont ensuite broyés en copeaux pour la fonte et la personalisation des coloris</p>
        </div>
      </div>
      <hr class="solid">
      <div class="row no-gutters more-pad">
        <div class="col-lg-8 order-lg-2 text-white showcase-img" style="background-image: url('img/3.png');"></div>
        <div class="col-lg-4 order-lg-1 my-auto showcase-text text-processus">
          <h2>3 - Presse</h2>
          <p class="lead mb-0">Le copeaux sont ensuite pressés à chaud pour en faire les plaques qui composeront votre colis</p>
        </div>
      </div>
      <hr class="solid">
      <div class="row no-gutters more-pad tall-image">
        <div class="col-lg-8 text-white showcase-img" style="background-image: url('img/Step4.png');"></div>
        <div class="col-lg-4 my-auto showcase-text">
          <h2>4 - Au commencement était la fin</h2>
          <p class="lead mb-0">Si vous nous renvoyez vos Colisbri, nous les récupérons et les remettons dans le cycle de recyclage. C'est alors que le Colisbri devient Phoenix pour renaitre encore et encore !</p>
        </div>
      </div>
    </div>
  </section>
  <div style="height: 100px;">

  </div>

  <%- include('newsletter.ejs') %>
  <%- include('footer.ejs') %>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/mail/contact_me_and_footer_arrow.js"></script>

</body>

</html>